<main>
    <div class="p-5 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h3> Novo Aluno: </h3>
            <div class="card">
                <div class="card-body">
                    <form action="/rota_aluno/aluno/nova" method="POST">
                        <label for="matricula">Matricula: </label>
                        <input type="text" id="matricula" name="matricula" placeholder="Matricula do Aluno"
                            class="form-control">
                        <br>

                        <label for="nome">Nome: </label>
                        <input type="text" id="nome" name="nome" placeholder="Nome do Aluno" class="form-control">
                        <br>

                        <label for="turma">Turma: </label>
                        <select name="fk_turma" class="custom-select">
                            {{#each turmas}}
                            <option value="{{id_turma}}">{{descricao}}</option>
                            {{else}}
                            <option value="0">Nenhuma turma registrada</option>
                            {{/each}}
                        </select>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-success">Criar Aluno</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>