<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Agradecemos pela escolha</h5>
    <p class="card-text">Site desenvolvido por Jennifer Thamara Costa</p>
  </div>
  <div class="card-footer text-muted"> ©2023 Copyright: Jennifer Costa</div>
</div>